# Ignore Node.js dependencies for the frontend
frontend/node_modules/

# Ignore .NET dependencies for the API
api/bin/
api/obj/

# Ignore Visual Studio files and directories for the API
api/.vs/

# Ignore Next.js build output
frontend/.next/
frontend/out/

# Ignore build output for both API and frontend
api/bin/
api/obj/
frontend/.next/
frontend/out/

# Ignore frontend environment files
frontend/.env
frontend/.env.local
frontend/.env.*.local
frontend/.env.build
frontend/.env.production
frontend/.env.test

# Ignore backend environment files
api/appsettings.json
api/appsettings.Development.json
api/appsettings.Production.json

# Ignore IDE/Editor files
.vscode/
.idea/

# Ignore npm debug log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore any package-lock.json files
package-lock.json
